In [1]:
#importing libraries
import os
import numpy as np
import pandas as pd

In [2]:
#creating filepath object
pwd = os.getcwd()
filepath = pwd + "/Resources/election_data.csv"

In [3]:
election_data = pd.read_csv(filepath)

In [4]:
election_data

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [5]:
#calculating total number of votes cast
total_votes = len(election_data["Voter ID"])

In [6]:
total_votes

3521001

In [7]:
#grabbing list of candidates that received votes
candidates = election_data["Candidate"].unique()

In [8]:
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [9]:
#creating a series that contains the candidate with the number of votes received
votes_series = election_data["Candidate"].value_counts()

In [10]:
votes_series

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [13]:
#converting series into a dictionary for easier use
vote_numbers = votes_series.to_dict()
vote_numbers

{'Khan': 2218231, 'Correy': 704200, 'Li': 492940, "O'Tooley": 105630}

In [16]:
#Calculating Candidate vote percentages and formatting to two decimal places
khan_percent = "{:.2f}".format(vote_numbers["Khan"]/total_votes*100) 
correy_percent = "{:.2f}".format(vote_numbers["Correy"]/total_votes*100) 
li_percent = "{:.2f}".format(vote_numbers["Li"]/total_votes*100) 
otooley_percent = "{:.2f}".format(vote_numbers["O'Tooley"]/total_votes*100)

In [17]:
#creating quick function to retreive key using values from dictionary
def get_key(val):
    for key, value in vote_numbers.items():
         if val == value:
             return key

In [19]:
#storing winner in variable for later use
winner = get_key(max(vote_numbers.values()))
winner

'Khan'

In [20]:
#Printing Results
print("Election Results")
print("-------------------")
print("Total Votes: ", total_votes)
print("-------------------")
print("Khan: %", khan_percent, "(", vote_numbers["Khan"], ")")
print("Correy: %", correy_percent, "(", vote_numbers["Correy"], ")")
print("Li: %", li_percent, "(", vote_numbers["Li"], ")")
print("O'Tooley: %", otooley_percent, "(", vote_numbers["O'Tooley"], ")")
print("-------------------")
print("Winner: ", winner)
print("-------------------")

Election Results
-------------------
Total Votes:  3521001
-------------------
Khan: % 63.00 ( 2218231 )
Correy: % 20.00 ( 704200 )
Li: % 14.00 ( 492940 )
O'Tooley: % 3.00 ( 105630 )
-------------------
Winner:  Khan
-------------------

In [21]:
#printing output to file
with open("analysis/output.txt", "x") as f:
    print("Election Results", file=f)
    print("-------------------", file=f)
    print("Total Votes: ", total_votes, file=f)
    print("-------------------", file=f)
    print("Khan: %", khan_percent, "(", vote_numbers["Khan"], ")", file=f)
    print("Correy: %", correy_percent, "(", vote_numbers["Correy"], ")", file=f)
    print("Li: %", li_percent, "(", vote_numbers["Li"], ")", file=f)
    print("O'Tooley: %", otooley_percent, "(", vote_numbers["O'Tooley"], ")", file=f)
    print("-------------------", file=f)
    print("Winner: ", winner, file=f)
    print("-------------------", file=f)